{% load static %}
<nav class="navbar navbar-expand-lg px-3 w-100" style="background-color: hsl(0, 0%, 0%);">
    <div class="container-fluid">
        <a href="{% url 'home' %}" class="navbar-brand">
            <img src="{% static 'images/s-logo.png' %}" alt="s-logo.png" class="img-fluid" width="40" height="auto">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="nav-item nav-link text-white ms-auto" href="{% url 'about' %}">About</a>
        <div class="vr mx-2"></div>

        {% if user.is_authenticated %}
                <button class="btn btn-dark dropdown-toggle dropdown" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ user.email }}
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <a class="dropdown-item" href="{% url 'account_change_password' %}">Change password</a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a>
                </ul>
        {% else %}
            <div class="hstack gap-3 ps-3">
                <a href="{% url 'account_login' %}" class="btn btn-outline-secondary">Log in</a>
                <a href="{% url 'account_signup' %}" class="btn btn-outline-info">Sign up</a>
            </div>

        {% endif %}
    </div>

</nav>
